[
  {
    "name": "name_of_the_container_on_linux",
    "path": "/my/path/on/linux/docker-compose.yml"
  },
  {
    "name": "name_of_the_container_on_windows",
    "path": "C:\\my\\path\\on\\windows\\docker-compose.yml"
  }
]