body {
  color: white;
  font-family: 'Lato';
  background: #333;
}

.off-canvas {
  background: #333;
}

#template {
  display: none;
}

.row:hover {
  background: #444
}

h2 {
  font-size: 20px;
  color: white;
}

h6 {
  font-size: 12px;
  color: #CCC;
}

.switch {
  height: 60px;
  line-height: 60px;
}

.switch label {
  vertical-align: middle;
}